/Demo/.vs/Demo/DesignTimeBuild/.dtbcache
/Demo/.vs/Demo/v16/.suo
/Demo/.vs/Demo/v16/Server/sqlite3/db.lock
/Demo/.vs/Demo/v16/Server/sqlite3/storage.ide
/Demo/bin/Debug/netcoreapp2.1/Demo.deps.json
/Demo/bin/Debug/netcoreapp2.1/Demo.dll
/Demo/bin/Debug/netcoreapp2.1/Demo.pdb
/Demo/bin/Debug/netcoreapp2.1/Demo.runtimeconfig.dev.json
/Demo/bin/Debug/netcoreapp2.1/Demo.runtimeconfig.json
/Demo/obj/Debug/netcoreapp2.1/Demo.AssemblyInfo.cs
/Demo/obj/Debug/netcoreapp2.1/Demo.AssemblyInfoInputs.cache
/Demo/obj/Debug/netcoreapp2.1/Demo.RazorAssemblyInfo.cache
/Demo/obj/Debug/netcoreapp2.1/Demo.RazorAssemblyInfo.cs
/Demo/obj/Debug/netcoreapp2.1/Demo.RazorTargetAssemblyInfo.cache
/Demo/obj/Debug/netcoreapp2.1/Demo.assets.cache
/Demo/obj/Debug/netcoreapp2.1/Demo.csproj.CoreCompileInputs.cache
/Demo/obj/Debug/netcoreapp2.1/Demo.csproj.FileListAbsolute.txt
/Demo/obj/Debug/netcoreapp2.1/Demo.csprojAssemblyReference.cache
/Demo/obj/Debug/netcoreapp2.1/Demo.dll
/Demo/obj/Debug/netcoreapp2.1/Demo.pdb
