/API/bin/Debug/netcoreapp2.1/API.deps.json
/API/bin/Debug/netcoreapp2.1/API.dll
/API/bin/Debug/netcoreapp2.1/API.pdb
/API/bin/Debug/netcoreapp2.1/API.runtimeconfig.dev.json
/API/bin/Debug/netcoreapp2.1/API.runtimeconfig.json
/API/bin/Debug/netcoreapp2.1/Demo.deps.json
/API/bin/Debug/netcoreapp2.1/Demo.dll
/API/bin/Debug/netcoreapp2.1/Demo.pdb
/API/bin/Debug/netcoreapp2.1/Demo.runtimeconfig.dev.json
/API/bin/Debug/netcoreapp2.1/Demo.runtimeconfig.json
/API/bin/Debug/netcoreapp2.1/Properties/launchSettings.json
/API/bin/Debug/netcoreapp2.1/appsettings.Development.json
/API/bin/Debug/netcoreapp2.1/appsettings.json
/API/obj/Debug/netcoreapp2.1/API.AssemblyInfo.cs
/API/obj/Debug/netcoreapp2.1/API.AssemblyInfoInputs.cache
/API/obj/Debug/netcoreapp2.1/API.RazorAssemblyInfo.cache
/API/obj/Debug/netcoreapp2.1/API.RazorAssemblyInfo.cs
/API/obj/Debug/netcoreapp2.1/API.RazorTargetAssemblyInfo.cache
/API/obj/Debug/netcoreapp2.1/API.assets.cache
/API/obj/Debug/netcoreapp2.1/API.csproj.CoreCompileInputs.cache
/API/obj/Debug/netcoreapp2.1/API.csproj.FileListAbsolute.txt
/API/obj/Debug/netcoreapp2.1/API.csprojAssemblyReference.cache
/API/obj/Debug/netcoreapp2.1/API.dll
/API/obj/Debug/netcoreapp2.1/API.genruntimeconfig.cache
/API/obj/Debug/netcoreapp2.1/API.pdb
/API/obj/Debug/netcoreapp2.1/Demo.AssemblyInfo.cs
/API/obj/Debug/netcoreapp2.1/Demo.AssemblyInfoInputs.cache
/API/obj/Debug/netcoreapp2.1/Demo.RazorAssemblyInfo.cache
/API/obj/Debug/netcoreapp2.1/Demo.RazorAssemblyInfo.cs
/API/obj/Debug/netcoreapp2.1/Demo.RazorTargetAssemblyInfo.cache
/API/obj/Debug/netcoreapp2.1/Demo.assets.cache
/API/obj/Debug/netcoreapp2.1/Demo.csproj.CoreCompileInputs.cache
/API/obj/Debug/netcoreapp2.1/Demo.csproj.FileListAbsolute.txt
/API/obj/Debug/netcoreapp2.1/Demo.csprojAssemblyReference.cache
/API/obj/Debug/netcoreapp2.1/Demo.dll
/API/obj/Debug/netcoreapp2.1/Demo.pdb
/APIv2/bin/Debug/netcoreapp2.1/Properties/launchSettings.json
/APIv2/bin/Debug/netcoreapp2.1/appsettings.Development.json
/APIv2/bin/Debug/netcoreapp2.1/appsettings.json
/APIv2/obj/Debug/netcoreapp2.1/APIv2.AssemblyInfo.cs
/APIv2/obj/Debug/netcoreapp2.1/APIv2.AssemblyInfoInputs.cache
/APIv2/obj/Debug/netcoreapp2.1/APIv2.RazorAssemblyInfo.cache
/APIv2/obj/Debug/netcoreapp2.1/APIv2.RazorAssemblyInfo.cs
/APIv2/obj/Debug/netcoreapp2.1/APIv2.assets.cache
/APIv2/obj/Debug/netcoreapp2.1/APIv2.csproj.FileListAbsolute.txt
/APIv2/obj/Debug/netcoreapp2.1/APIv2.csprojAssemblyReference.cache
/APIv3/bin/Debug/netcoreapp2.1/Properties/launchSettings.json
/APIv3/bin/Debug/netcoreapp2.1/appsettings.Development.json
/APIv3/bin/Debug/netcoreapp2.1/appsettings.json
/APIv3/obj/Debug/netcoreapp2.1/APIv3.AssemblyInfo.cs
/APIv3/obj/Debug/netcoreapp2.1/APIv3.AssemblyInfoInputs.cache
/APIv3/obj/Debug/netcoreapp2.1/APIv3.RazorAssemblyInfo.cache
/APIv3/obj/Debug/netcoreapp2.1/APIv3.RazorAssemblyInfo.cs
/APIv3/obj/Debug/netcoreapp2.1/APIv3.assets.cache
/APIv3/obj/Debug/netcoreapp2.1/APIv3.csproj.FileListAbsolute.txt
/UI/obj/Debug/netcoreapp2.1/UI.AssemblyInfo.cs
/UI/obj/Debug/netcoreapp2.1/UI.AssemblyInfoInputs.cache
/UI/obj/Debug/netcoreapp2.1/UI.RazorAssemblyInfo.cache
/UI/obj/Debug/netcoreapp2.1/UI.RazorAssemblyInfo.cs
/UI/obj/Debug/netcoreapp2.1/UI.RazorTargetAssemblyInfo.cache
/UI/obj/Debug/netcoreapp2.1/UI.assets.cache
/UI/obj/Debug/netcoreapp2.1/UI.csproj.CoreCompileInputs.cache
/UI/obj/Debug/netcoreapp2.1/UI.csproj.FileListAbsolute.txt
/UI/obj/Debug/netcoreapp2.1/UI.csprojAssemblyReference.cache
/UI/obj/Debug/netcoreapp2.1/UI.dll
/UI/obj/Debug/netcoreapp2.1/UI.pdb
/APIv2/bin/Debug/netcoreapp2.1/APIv2.deps.json
/APIv2/bin/Debug/netcoreapp2.1/APIv2.dll
/APIv2/bin/Debug/netcoreapp2.1/APIv2.pdb
/APIv2/bin/Debug/netcoreapp2.1/APIv2.runtimeconfig.dev.json
/APIv2/bin/Debug/netcoreapp2.1/APIv2.runtimeconfig.json
/APIv2/obj/Debug/netcoreapp2.1/APIv2.RazorTargetAssemblyInfo.cache
/APIv2/obj/Debug/netcoreapp2.1/APIv2.csproj.CoreCompileInputs.cache
/APIv2/obj/Debug/netcoreapp2.1/APIv2.dll
/APIv2/obj/Debug/netcoreapp2.1/APIv2.genruntimeconfig.cache
/APIv2/obj/Debug/netcoreapp2.1/APIv2.pdb
/APIv3/bin/Debug/netcoreapp2.1/APIv3.deps.json
/APIv3/bin/Debug/netcoreapp2.1/APIv3.dll
/APIv3/bin/Debug/netcoreapp2.1/APIv3.pdb
/APIv3/bin/Debug/netcoreapp2.1/APIv3.runtimeconfig.dev.json
/APIv3/bin/Debug/netcoreapp2.1/APIv3.runtimeconfig.json
/APIv3/obj/Debug/netcoreapp2.1/APIv3.RazorTargetAssemblyInfo.cache
/APIv3/obj/Debug/netcoreapp2.1/APIv3.csproj.CoreCompileInputs.cache
/APIv3/obj/Debug/netcoreapp2.1/APIv3.csprojAssemblyReference.cache
/APIv3/obj/Debug/netcoreapp2.1/APIv3.dll
/APIv3/obj/Debug/netcoreapp2.1/APIv3.genruntimeconfig.cache
/APIv3/obj/Debug/netcoreapp2.1/APIv3.pdb
/UI/bin/Debug/netcoreapp2.1/Properties/launchSettings.json
/UI/bin/Debug/netcoreapp2.1/UI.dll
/UI/bin/Debug/netcoreapp2.1/UI.pdb
/UI/bin/Debug/netcoreapp2.1/appsettings.Development.json
/UI/bin/Debug/netcoreapp2.1/appsettings.json
/UI/obj/Debug/netcoreapp2.1/UI.genruntimeconfig.cache
/UI/bin/Debug/netcoreapp2.1/UI.deps.json
/UI/bin/Debug/netcoreapp2.1/UI.runtimeconfig.dev.json
/UI/bin/Debug/netcoreapp2.1/UI.runtimeconfig.json
