/.vs/Demo/DesignTimeBuild/.dtbcache
/.vs/Demo/v16/.suo
/.vs/Demo/v16/Server/sqlite3/db.lock
/.vs/Demo/v16/Server/sqlite3/storage.ide
/.vs/Demo/v16/Server/sqlite3/storage.ide-shm
/.vs/Demo/v16/Server/sqlite3/storage.ide-wal
/Demo/bin/Debug/netcoreapp2.1/Demo.deps.json
/Demo/bin/Debug/netcoreapp2.1/Demo.dll
/Demo/bin/Debug/netcoreapp2.1/Demo.pdb
/Demo/bin/Debug/netcoreapp2.1/Demo.runtimeconfig.dev.json
/Demo/bin/Debug/netcoreapp2.1/Demo.runtimeconfig.json
/Demo/obj/Container/AdditionalProbingPaths.cache
/Demo/obj/Container/ContainerDevelopmentMode.cache
/Demo/obj/Container/ContainerId.cache
/Demo/obj/Container/ContainerOperatingSystemFlavor.cache
/Demo/obj/Container/ContainerRunContext.cache
/Demo/obj/Container/DebuggeeArguments.cache
/Demo/obj/Container/DebuggeeKillProcessCommand.cache
/Demo/obj/Container/DebuggeeProgram.cache
/Demo/obj/Container/DebuggeeWorkingDirectory.cache
/Demo/obj/Container/ImageBuildContext.cache
/Demo/obj/Container/ImageId.cache
/Demo/obj/Container/OperatingSystemName.cache
/Demo/obj/Container/RelativeOutputAssemblyPath.cache
/Demo/obj/Container/TargetFramework.cache
/Demo/obj/Container/VsDbgScript.cache
/Demo/obj/Debug/netcoreapp2.1/Demo.AssemblyInfo.cs
/Demo/obj/Debug/netcoreapp2.1/Demo.AssemblyInfoInputs.cache
/Demo/obj/Debug/netcoreapp2.1/Demo.RazorAssemblyInfo.cache
/Demo/obj/Debug/netcoreapp2.1/Demo.RazorAssemblyInfo.cs
/Demo/obj/Debug/netcoreapp2.1/Demo.RazorTargetAssemblyInfo.cache
/Demo/obj/Debug/netcoreapp2.1/Demo.assets.cache
/Demo/obj/Debug/netcoreapp2.1/Demo.csproj.CoreCompileInputs.cache
/Demo/obj/Debug/netcoreapp2.1/Demo.csproj.FileListAbsolute.txt
/Demo/obj/Debug/netcoreapp2.1/Demo.dll
/Demo/obj/Debug/netcoreapp2.1/Demo.pdb
/UI/bin/Debug/netcoreapp2.1/UI.deps.json
/UI/bin/Debug/netcoreapp2.1/UI.runtimeconfig.dev.json
/UI/bin/Debug/netcoreapp2.1/UI.runtimeconfig.json
/UI/obj/Debug/netcoreapp2.1/UI.AssemblyInfo.cs
/UI/obj/Debug/netcoreapp2.1/UI.AssemblyInfoInputs.cache
/UI/obj/Debug/netcoreapp2.1/UI.RazorAssemblyInfo.cache
/UI/obj/Debug/netcoreapp2.1/UI.RazorAssemblyInfo.cs
/UI/obj/Debug/netcoreapp2.1/UI.RazorTargetAssemblyInfo.cache
/UI/obj/Debug/netcoreapp2.1/UI.assets.cache
/UI/obj/Debug/netcoreapp2.1/UI.csproj.CoreCompileInputs.cache
/UI/obj/Debug/netcoreapp2.1/UI.csproj.FileListAbsolute.txt
/UI/obj/Debug/netcoreapp2.1/UI.csprojAssemblyReference.cache
/UI/bin/Debug/netcoreapp2.1/UI.dll
/UI/bin/Debug/netcoreapp2.1/UI.pdb
/UI/bin/Debug/netcoreapp2.1/log4net.config.xml
/UI/obj/Container/AdditionalProbingPaths.cache
/UI/obj/Container/ContainerDevelopmentMode.cache
/UI/obj/Container/ContainerId.cache
/UI/obj/Container/ContainerOperatingSystemFlavor.cache
/UI/obj/Container/ContainerRunContext.cache
/UI/obj/Container/DebuggeeArguments.cache
/UI/obj/Container/DebuggeeKillProcessCommand.cache
/UI/obj/Container/DebuggeeProgram.cache
/UI/obj/Container/DebuggeeWorkingDirectory.cache
/UI/obj/Container/ImageBuildContext.cache
/UI/obj/Container/ImageId.cache
/UI/obj/Container/OperatingSystemName.cache
/UI/obj/Container/RelativeOutputAssemblyPath.cache
/UI/obj/Container/TargetFramework.cache
/UI/obj/Container/VsDbgScript.cache
/UI/obj/Debug/netcoreapp2.1/UI.dll
/UI/obj/Debug/netcoreapp2.1/UI.pdb
